.s-base-modal,.s-base-modal__mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
}
.s-base-modal__mask {
    background-color: rgba(0,0,0,.5);
    z-index: -1;
}
.s-model__container{
    background: #fff;
}
